[Desktop Entry]
Categories=TextEditor;Utility;
Comment=A minimalist text and markdown editor
Exec=himark %F
Icon=himark
Name=Himark
StartupWMClass=himark
Terminal=false
Type=Application
MimeType=text/markdown;text/x-markdown;
